@model IEnumerable<_4fitter.Models.Article>

@{
    ViewBag.Title = "Index";
}

<div class="article-container">

    @{
        var newestArticle = Model.Last();
        var articles = Model.ToList().Skip(Math.Max(0, Model.Count() - 6));
    }

    <table id="articles-table">
        <tr>
            <td id="big-article-td" rowspan="5">
                <div class="big-article-preview">
                    <a href="/Articles/@newestArticle.FriendlyID">
                        <img class="big-article-illustration" src="@newestArticle.IllustrationURL" /><br />
                        @newestArticle.Title
                    </a>
                </div>
            </td>
            <td>
                <div class="small-article-preview">
                    <a class="article-title" href="/Articles/@articles.First().FriendlyID">
                        <img class="article-illustration" src="@articles.First().IllustrationURL" />
                        @articles.First().Title
                    </a>
                </div>
            </td>
        </tr>

        @for (var i = 1; i < articles.Count() - 1; i++)
        {
            var article = articles.ToList()[i];

            <tr>
                <td>
                    <div class="small-article-preview">
                        <a class="article-title" href="/Articles/@article.FriendlyID">
                            <img class="article-illustration" src="@article.IllustrationURL" />
                            @article.Title
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>