<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4fitter - Your way to stay in shape!</title>
    @RenderSection("styles", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using _4fitter.Utilities
    @using _4fitter.Models

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/images/logo.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                    <li>@Html.ActionLink("TABATA", "TabataTimer", "Home")</li>
                    <li>@Html.ActionLink("PANEL ADMINISTRATORA", "AdminPanel", "Home").CheckIfUserIsInRole(User.IsInRole(Definitions.ROLE_ADMIN))</li>
                </ul>
                <div id="search-box">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { id = "search-form" }))
                    {
                        <input id="input-search" placeholder="czego szukasz?" class="form-control" name="searchPhrase" />
                        <input id="button-search" src="~/Content/images/search.png" type="image" class="btn btn-default" />
                    }
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" id="page-container">
        @RenderBody()
    </div>

    <footer>
        Copyright © 2017 4fitter Team.
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
