@model _4fitter.Models.BmrCalculator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BmrCalculator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWeeks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWeeks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
